pysqlite3-binary
chromadb
streamlit
altair
pydeck
sentence-transformers
google-generativeai
huggingface-hub
transformers
tokenizers
pypdf2
Django
fastapi
Flask
starlette
uvicorn
beautifulsoup4
bs4
requests
google_search_results
sqlparse
protobuf
pandas
numpy
pyarrow
PyPika
bcrypt
oauthlib
rsa
google-auth
google-auth-httplib2
requests-oauthlib
anyio
httptools
httpcore
httpx
sniffio
websockets
watchfiles
rich
tqdm
attrs
tenacity
coloredlogs
pytz
python-dotenv
PyYAML
typing_extensions
